/*
 * Snapview6 API
 * Official API available to Snapview customers
 *
 * OpenAPI spec version: v1
 * Contact: support@snapview.de
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */


package de.snapview.api.client;

import com.google.gson.reflect.TypeToken;
import de.snapview.api.*;
import de.snapview.api.domain.*;

import java.io.IOException;
import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class V1Api {
    private ApiClient apiClient;

    public V1Api() {
        this(Configuration.getDefaultApiClient());
    }

    public V1Api(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for v1EsignaturePost
     * @param body CreateSessionIS2Session data (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call v1EsignaturePostCall(CreateSessionIS2SessionRequestBody body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;

        // create path and map variables
        String localVarPath = "/v1/esignature";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {

        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json", "text/json", "application/json-patch+json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call v1EsignaturePostValidateBeforeCall(CreateSessionIS2SessionRequestBody body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {


        com.squareup.okhttp.Call call = v1EsignaturePostCall(body, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Used to create a eSignature(IS2) session.
     *
     * @param body CreateSessionIS2Session data (optional)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void v1EsignaturePost(CreateSessionIS2SessionRequestBody body) throws ApiException {
        v1EsignaturePostWithHttpInfo(body);
    }

    /**
     * Used to create a eSignature(IS2) session.
     *
     * @param body CreateSessionIS2Session data (optional)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> v1EsignaturePostWithHttpInfo(CreateSessionIS2SessionRequestBody body) throws ApiException {
        com.squareup.okhttp.Call call = v1EsignaturePostValidateBeforeCall(body, null, null);
        return apiClient.execute(call);
    }

    /**
     * Used to create a eSignature(IS2) session. (asynchronously)
     *
     * @param body CreateSessionIS2Session data (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call v1EsignaturePostAsync(CreateSessionIS2SessionRequestBody body, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = v1EsignaturePostValidateBeforeCall(body, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /**
     * Build call for v1EsignatureRenewPost
     * @param body RenewSessionIS2Session data (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call v1EsignatureRenewPostCall(RenewSessionIS2SessionRequestBody body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;

        // create path and map variables
        String localVarPath = "/v1/esignature/renew";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {

        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json", "text/json", "application/json-patch+json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call v1EsignatureRenewPostValidateBeforeCall(RenewSessionIS2SessionRequestBody body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {


        com.squareup.okhttp.Call call = v1EsignatureRenewPostCall(body, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Used to renew a eSignature(IS2) session to enable its use with eSignature application.
     *
     * @param body RenewSessionIS2Session data (optional)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void v1EsignatureRenewPost(RenewSessionIS2SessionRequestBody body) throws ApiException {
        v1EsignatureRenewPostWithHttpInfo(body);
    }

    /**
     * Used to renew a eSignature(IS2) session to enable its use with eSignature application.
     *
     * @param body RenewSessionIS2Session data (optional)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> v1EsignatureRenewPostWithHttpInfo(RenewSessionIS2SessionRequestBody body) throws ApiException {
        com.squareup.okhttp.Call call = v1EsignatureRenewPostValidateBeforeCall(body, null, null);
        return apiClient.execute(call);
    }

    /**
     * Used to renew a eSignature(IS2) session to enable its use with eSignature application. (asynchronously)
     *
     * @param body RenewSessionIS2Session data (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call v1EsignatureRenewPostAsync(RenewSessionIS2SessionRequestBody body, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = v1EsignatureRenewPostValidateBeforeCall(body, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /**
     * Build call for v1EsignatureSessionsGet
     * @param secureToken secureToken of a Snapview Session (optional)
     * @param demoSystem indicates whether production or demonstration eSignature system should be queried (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call v1EsignatureSessionsGetCall(String secureToken, Boolean demoSystem, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/v1/esignature/sessions";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (secureToken != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("secureToken", secureToken));
        if (demoSystem != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("demoSystem", demoSystem));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {

        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {

        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call v1EsignatureSessionsGetValidateBeforeCall(String secureToken, Boolean demoSystem, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {


        com.squareup.okhttp.Call call = v1EsignatureSessionsGetCall(secureToken, demoSystem, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Used to retrieve eSignature sessions of the user linked to a Snapview session.
     *
     * @param secureToken secureToken of a Snapview Session (optional)
     * @param demoSystem indicates whether production or demonstration eSignature system should be queried (optional)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void v1EsignatureSessionsGet(String secureToken, Boolean demoSystem) throws ApiException {
        v1EsignatureSessionsGetWithHttpInfo(secureToken, demoSystem);
    }

    /**
     * Used to retrieve eSignature sessions of the user linked to a Snapview session.
     *
     * @param secureToken secureToken of a Snapview Session (optional)
     * @param demoSystem indicates whether production or demonstration eSignature system should be queried (optional)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> v1EsignatureSessionsGetWithHttpInfo(String secureToken, Boolean demoSystem) throws ApiException {
        com.squareup.okhttp.Call call = v1EsignatureSessionsGetValidateBeforeCall(secureToken, demoSystem, null, null);
        return apiClient.execute(call);
    }

    /**
     * Used to retrieve eSignature sessions of the user linked to a Snapview session. (asynchronously)
     *
     * @param secureToken secureToken of a Snapview Session (optional)
     * @param demoSystem indicates whether production or demonstration eSignature system should be queried (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call v1EsignatureSessionsGetAsync(String secureToken, Boolean demoSystem, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = v1EsignatureSessionsGetValidateBeforeCall(secureToken, demoSystem, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /**
     * Build call for v1JoinsessionurlPut
     * @param body Authentication and JoinsessionUrl string. (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call v1JoinsessionurlPutCall(AccountRequestBody body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;

        // create path and map variables
        String localVarPath = "/v1/joinsessionurl";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {

        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json", "text/json", "application/json-patch+json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "PUT", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call v1JoinsessionurlPutValidateBeforeCall(AccountRequestBody body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {


        com.squareup.okhttp.Call call = v1JoinsessionurlPutCall(body, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Used to modify the custom joinsession URL for your account
     *
     * @param body Authentication and JoinsessionUrl string. (optional)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void v1JoinsessionurlPut(AccountRequestBody body) throws ApiException {
        v1JoinsessionurlPutWithHttpInfo(body);
    }

    /**
     * Used to modify the custom joinsession URL for your account
     *
     * @param body Authentication and JoinsessionUrl string. (optional)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> v1JoinsessionurlPutWithHttpInfo(AccountRequestBody body) throws ApiException {
        com.squareup.okhttp.Call call = v1JoinsessionurlPutValidateBeforeCall(body, null, null);
        return apiClient.execute(call);
    }

    /**
     * Used to modify the custom joinsession URL for your account (asynchronously)
     *
     * @param body Authentication and JoinsessionUrl string. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call v1JoinsessionurlPutAsync(AccountRequestBody body, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = v1JoinsessionurlPutValidateBeforeCall(body, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /**
     * Build call for v1SessionByKeyDelete
     * @param key 9-digit session key. (required)
     * @param accountIdentifier Can be used together with AccountPassword to authenticate an account (optional)
     * @param accountPassword Can be used together with AccountIdentifier to authenticate an account (optional)
     * @param accessToken Account-specific access token  (primary way to authenticate an account for API calls)  If AccountIdentifier, AccountPassword and AccessToken are given, only AccessToken is used. (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call v1SessionByKeyDeleteCall(String key, String accountIdentifier, String accountPassword, String accessToken, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/v1/session/{key}"
            .replaceAll("\\{" + "key" + "\\}", apiClient.escapeString(key.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (accountIdentifier != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("AccountIdentifier", accountIdentifier));
        if (accountPassword != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("AccountPassword", accountPassword));
        if (accessToken != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("AccessToken", accessToken));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {

        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {

        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call v1SessionByKeyDeleteValidateBeforeCall(String key, String accountIdentifier, String accountPassword, String accessToken, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {

        // verify the required parameter 'key' is set
        if (key == null) {
            throw new ApiException("Missing the required parameter 'key' when calling v1SessionByKeyDelete(Async)");
        }


        com.squareup.okhttp.Call call = v1SessionByKeyDeleteCall(key, accountIdentifier, accountPassword, accessToken, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Used to delete a session belonging to the authenticated account.
     *
     * @param key 9-digit session key. (required)
     * @param accountIdentifier Can be used together with AccountPassword to authenticate an account (optional)
     * @param accountPassword Can be used together with AccountIdentifier to authenticate an account (optional)
     * @param accessToken Account-specific access token  (primary way to authenticate an account for API calls)  If AccountIdentifier, AccountPassword and AccessToken are given, only AccessToken is used. (optional)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void v1SessionByKeyDelete(String key, String accountIdentifier, String accountPassword, String accessToken) throws ApiException {
        v1SessionByKeyDeleteWithHttpInfo(key, accountIdentifier, accountPassword, accessToken);
    }

    /**
     * Used to delete a session belonging to the authenticated account.
     *
     * @param key 9-digit session key. (required)
     * @param accountIdentifier Can be used together with AccountPassword to authenticate an account (optional)
     * @param accountPassword Can be used together with AccountIdentifier to authenticate an account (optional)
     * @param accessToken Account-specific access token  (primary way to authenticate an account for API calls)  If AccountIdentifier, AccountPassword and AccessToken are given, only AccessToken is used. (optional)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> v1SessionByKeyDeleteWithHttpInfo(String key, String accountIdentifier, String accountPassword, String accessToken) throws ApiException {
        com.squareup.okhttp.Call call = v1SessionByKeyDeleteValidateBeforeCall(key, accountIdentifier, accountPassword, accessToken, null, null);
        return apiClient.execute(call);
    }

    /**
     * Used to delete a session belonging to the authenticated account. (asynchronously)
     *
     * @param key 9-digit session key. (required)
     * @param accountIdentifier Can be used together with AccountPassword to authenticate an account (optional)
     * @param accountPassword Can be used together with AccountIdentifier to authenticate an account (optional)
     * @param accessToken Account-specific access token  (primary way to authenticate an account for API calls)  If AccountIdentifier, AccountPassword and AccessToken are given, only AccessToken is used. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call v1SessionByKeyDeleteAsync(String key, String accountIdentifier, String accountPassword, String accessToken, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = v1SessionByKeyDeleteValidateBeforeCall(key, accountIdentifier, accountPassword, accessToken, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /**
     * Build call for v1SessionByKeyGet
     * @param key 9-digit session key. (required)
     * @param accountIdentifier Can be used together with AccountPassword to authenticate an account (optional)
     * @param accountPassword Can be used together with AccountIdentifier to authenticate an account (optional)
     * @param accessToken Account-specific access token  (primary way to authenticate an account for API calls)  If AccountIdentifier, AccountPassword and AccessToken are given, only AccessToken is used. (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call v1SessionByKeyGetCall(String key, String accountIdentifier, String accountPassword, String accessToken, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/v1/session/{key}"
            .replaceAll("\\{" + "key" + "\\}", apiClient.escapeString(key.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (accountIdentifier != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("AccountIdentifier", accountIdentifier));
        if (accountPassword != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("AccountPassword", accountPassword));
        if (accessToken != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("AccessToken", accessToken));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {

        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {

        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call v1SessionByKeyGetValidateBeforeCall(String key, String accountIdentifier, String accountPassword, String accessToken, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {

        // verify the required parameter 'key' is set
        if (key == null) {
            throw new ApiException("Missing the required parameter 'key' when calling v1SessionByKeyGet(Async)");
        }


        com.squareup.okhttp.Call call = v1SessionByKeyGetCall(key, accountIdentifier, accountPassword, accessToken, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Used to retrieve information about a session belonging to the authenticated account.
     * Returns the same information as the create session call
     * @param key 9-digit session key. (required)
     * @param accountIdentifier Can be used together with AccountPassword to authenticate an account (optional)
     * @param accountPassword Can be used together with AccountIdentifier to authenticate an account (optional)
     * @param accessToken Account-specific access token  (primary way to authenticate an account for API calls)  If AccountIdentifier, AccountPassword and AccessToken are given, only AccessToken is used. (optional)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void v1SessionByKeyGet(String key, String accountIdentifier, String accountPassword, String accessToken) throws ApiException {
        v1SessionByKeyGetWithHttpInfo(key, accountIdentifier, accountPassword, accessToken);
    }

    /**
     * Used to retrieve information about a session belonging to the authenticated account.
     * Returns the same information as the create session call
     * @param key 9-digit session key. (required)
     * @param accountIdentifier Can be used together with AccountPassword to authenticate an account (optional)
     * @param accountPassword Can be used together with AccountIdentifier to authenticate an account (optional)
     * @param accessToken Account-specific access token  (primary way to authenticate an account for API calls)  If AccountIdentifier, AccountPassword and AccessToken are given, only AccessToken is used. (optional)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> v1SessionByKeyGetWithHttpInfo(String key, String accountIdentifier, String accountPassword, String accessToken) throws ApiException {
        com.squareup.okhttp.Call call = v1SessionByKeyGetValidateBeforeCall(key, accountIdentifier, accountPassword, accessToken, null, null);
        return apiClient.execute(call);
    }

    /**
     * Used to retrieve information about a session belonging to the authenticated account. (asynchronously)
     * Returns the same information as the create session call
     * @param key 9-digit session key. (required)
     * @param accountIdentifier Can be used together with AccountPassword to authenticate an account (optional)
     * @param accountPassword Can be used together with AccountIdentifier to authenticate an account (optional)
     * @param accessToken Account-specific access token  (primary way to authenticate an account for API calls)  If AccountIdentifier, AccountPassword and AccessToken are given, only AccessToken is used. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call v1SessionByKeyGetAsync(String key, String accountIdentifier, String accountPassword, String accessToken, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = v1SessionByKeyGetValidateBeforeCall(key, accountIdentifier, accountPassword, accessToken, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /**
     * Build call for v1SessionByKeyPut
     * @param key 9-digit Session key (required)
     * @param body Authentication and session information (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call v1SessionByKeyPutCall(String key, SessionRequestBody body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;

        // create path and map variables
        String localVarPath = "/v1/session/{key}"
            .replaceAll("\\{" + "key" + "\\}", apiClient.escapeString(key.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {

        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json", "text/json", "application/json-patch+json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "PUT", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call v1SessionByKeyPutValidateBeforeCall(String key, SessionRequestBody body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {

        // verify the required parameter 'key' is set
        if (key == null) {
            throw new ApiException("Missing the required parameter 'key' when calling v1SessionByKeyPut(Async)");
        }


        com.squareup.okhttp.Call call = v1SessionByKeyPutCall(key, body, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Used to modify a session
     * Returns the same information as the create session call
     * @param key 9-digit Session key (required)
     * @param body Authentication and session information (optional)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void v1SessionByKeyPut(String key, SessionRequestBody body) throws ApiException {
        v1SessionByKeyPutWithHttpInfo(key, body);
    }

    /**
     * Used to modify a session
     * Returns the same information as the create session call
     * @param key 9-digit Session key (required)
     * @param body Authentication and session information (optional)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> v1SessionByKeyPutWithHttpInfo(String key, SessionRequestBody body) throws ApiException {
        com.squareup.okhttp.Call call = v1SessionByKeyPutValidateBeforeCall(key, body, null, null);
        return apiClient.execute(call);
    }

    /**
     * Used to modify a session (asynchronously)
     * Returns the same information as the create session call
     * @param key 9-digit Session key (required)
     * @param body Authentication and session information (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call v1SessionByKeyPutAsync(String key, SessionRequestBody body, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = v1SessionByKeyPutValidateBeforeCall(key, body, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /**
     * Build call for v1SessionByKeyStartGet
     * @param key 9-digit Session key (required)
     * @param accountIdentifier Can be used together with AccountPassword to authenticate an account (optional)
     * @param accountPassword Can be used together with AccountIdentifier to authenticate an account (optional)
     * @param accessToken Account-specific access token  (primary way to authenticate an account for API calls)  If AccountIdentifier, AccountPassword and AccessToken are given, only AccessToken is used. (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call v1SessionByKeyStartGetCall(String key, String accountIdentifier, String accountPassword, String accessToken, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/v1/session/{key}/start"
            .replaceAll("\\{" + "key" + "\\}", apiClient.escapeString(key.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (accountIdentifier != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("AccountIdentifier", accountIdentifier));
        if (accountPassword != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("AccountPassword", accountPassword));
        if (accessToken != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("AccessToken", accessToken));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {

        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {

        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call v1SessionByKeyStartGetValidateBeforeCall(String key, String accountIdentifier, String accountPassword, String accessToken, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {

        // verify the required parameter 'key' is set
        if (key == null) {
            throw new ApiException("Missing the required parameter 'key' when calling v1SessionByKeyStartGet(Async)");
        }


        com.squareup.okhttp.Call call = v1SessionByKeyStartGetCall(key, accountIdentifier, accountPassword, accessToken, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Start a session with the passed key belonging to the authenticated account
     *
     * @param key 9-digit Session key (required)
     * @param accountIdentifier Can be used together with AccountPassword to authenticate an account (optional)
     * @param accountPassword Can be used together with AccountIdentifier to authenticate an account (optional)
     * @param accessToken Account-specific access token  (primary way to authenticate an account for API calls)  If AccountIdentifier, AccountPassword and AccessToken are given, only AccessToken is used. (optional)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void v1SessionByKeyStartGet(String key, String accountIdentifier, String accountPassword, String accessToken) throws ApiException {
        v1SessionByKeyStartGetWithHttpInfo(key, accountIdentifier, accountPassword, accessToken);
    }

    /**
     * Start a session with the passed key belonging to the authenticated account
     *
     * @param key 9-digit Session key (required)
     * @param accountIdentifier Can be used together with AccountPassword to authenticate an account (optional)
     * @param accountPassword Can be used together with AccountIdentifier to authenticate an account (optional)
     * @param accessToken Account-specific access token  (primary way to authenticate an account for API calls)  If AccountIdentifier, AccountPassword and AccessToken are given, only AccessToken is used. (optional)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> v1SessionByKeyStartGetWithHttpInfo(String key, String accountIdentifier, String accountPassword, String accessToken) throws ApiException {
        com.squareup.okhttp.Call call = v1SessionByKeyStartGetValidateBeforeCall(key, accountIdentifier, accountPassword, accessToken, null, null);
        return apiClient.execute(call);
    }

    /**
     * Start a session with the passed key belonging to the authenticated account (asynchronously)
     *
     * @param key 9-digit Session key (required)
     * @param accountIdentifier Can be used together with AccountPassword to authenticate an account (optional)
     * @param accountPassword Can be used together with AccountIdentifier to authenticate an account (optional)
     * @param accessToken Account-specific access token  (primary way to authenticate an account for API calls)  If AccountIdentifier, AccountPassword and AccessToken are given, only AccessToken is used. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call v1SessionByKeyStartGetAsync(String key, String accountIdentifier, String accountPassword, String accessToken, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = v1SessionByKeyStartGetValidateBeforeCall(key, accountIdentifier, accountPassword, accessToken, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /**
     * Build call for v1SessionByKeyStopGet
     * @param key 9-digit Session key (required)
     * @param accountIdentifier Can be used together with AccountPassword to authenticate an account (optional)
     * @param accountPassword Can be used together with AccountIdentifier to authenticate an account (optional)
     * @param accessToken Account-specific access token  (primary way to authenticate an account for API calls)  If AccountIdentifier, AccountPassword and AccessToken are given, only AccessToken is used. (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call v1SessionByKeyStopGetCall(String key, String accountIdentifier, String accountPassword, String accessToken, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/v1/session/{key}/stop"
            .replaceAll("\\{" + "key" + "\\}", apiClient.escapeString(key.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (accountIdentifier != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("AccountIdentifier", accountIdentifier));
        if (accountPassword != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("AccountPassword", accountPassword));
        if (accessToken != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("AccessToken", accessToken));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {

        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {

        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call v1SessionByKeyStopGetValidateBeforeCall(String key, String accountIdentifier, String accountPassword, String accessToken, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {

        // verify the required parameter 'key' is set
        if (key == null) {
            throw new ApiException("Missing the required parameter 'key' when calling v1SessionByKeyStopGet(Async)");
        }


        com.squareup.okhttp.Call call = v1SessionByKeyStopGetCall(key, accountIdentifier, accountPassword, accessToken, progressListener, progressRequestListener);
        return call;

    }

    /**
     * End a session with the passed key belonging to the authenticated account
     *
     * @param key 9-digit Session key (required)
     * @param accountIdentifier Can be used together with AccountPassword to authenticate an account (optional)
     * @param accountPassword Can be used together with AccountIdentifier to authenticate an account (optional)
     * @param accessToken Account-specific access token  (primary way to authenticate an account for API calls)  If AccountIdentifier, AccountPassword and AccessToken are given, only AccessToken is used. (optional)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void v1SessionByKeyStopGet(String key, String accountIdentifier, String accountPassword, String accessToken) throws ApiException {
        v1SessionByKeyStopGetWithHttpInfo(key, accountIdentifier, accountPassword, accessToken);
    }

    /**
     * End a session with the passed key belonging to the authenticated account
     *
     * @param key 9-digit Session key (required)
     * @param accountIdentifier Can be used together with AccountPassword to authenticate an account (optional)
     * @param accountPassword Can be used together with AccountIdentifier to authenticate an account (optional)
     * @param accessToken Account-specific access token  (primary way to authenticate an account for API calls)  If AccountIdentifier, AccountPassword and AccessToken are given, only AccessToken is used. (optional)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> v1SessionByKeyStopGetWithHttpInfo(String key, String accountIdentifier, String accountPassword, String accessToken) throws ApiException {
        com.squareup.okhttp.Call call = v1SessionByKeyStopGetValidateBeforeCall(key, accountIdentifier, accountPassword, accessToken, null, null);
        return apiClient.execute(call);
    }

    /**
     * End a session with the passed key belonging to the authenticated account (asynchronously)
     *
     * @param key 9-digit Session key (required)
     * @param accountIdentifier Can be used together with AccountPassword to authenticate an account (optional)
     * @param accountPassword Can be used together with AccountIdentifier to authenticate an account (optional)
     * @param accessToken Account-specific access token  (primary way to authenticate an account for API calls)  If AccountIdentifier, AccountPassword and AccessToken are given, only AccessToken is used. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call v1SessionByKeyStopGetAsync(String key, String accountIdentifier, String accountPassword, String accessToken, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = v1SessionByKeyStopGetValidateBeforeCall(key, accountIdentifier, accountPassword, accessToken, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /**
     * Build call for v1SessionPost
     * @param body Authentication and session information (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call v1SessionPostCall(SessionRequestBody body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;

        // create path and map variables
        String localVarPath = "/v1/session";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "text/plain", "application/json", "text/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json", "text/json", "application/json-patch+json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call v1SessionPostValidateBeforeCall(SessionRequestBody body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {


        com.squareup.okhttp.Call call = v1SessionPostCall(body, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Used to create a session reservation for user of the authenticated account. (Post data only)
     * Success response (Status 200)        {          \&quot;data\&quot;: {              \&quot;nineDigitKey\&quot;: \&quot;0123456789\&quot;,              \&quot;secureToken\&quot;: \&quot;...\&quot;              \&quot;plannedStartUTC\&quot;: \&quot;2020/12/31 11:12:13\&quot;              \&quot;plannedStartTimeForLocalZone\&quot;: \&quot;2020.12.31 11:12:13(UTC+01:00)\&quot;,              \&quot;timeZoneOffset\&quot;: \&quot;60\&quot;,              \&quot;username\&quot;: \&quot;username\&quot;,              \&quot;freeField1\&quot;: \&quot;\&quot;,              \&quot;freeField2\&quot;: \&quot;\&quot;,              \&quot;freeField3\&quot;: \&quot;\&quot;,              \&quot;password\&quot;: \&quot;\&quot;,              \&quot;topic\&quot;: \&quot;\&quot;,              \&quot;duration\&quot;: 0,              \&quot;status\&quot;: \&quot;SESSION_RESERVED\&quot;          },          \&quot;requestUri\&quot;: \&quot;/v1/session\&quot;,          \&quot;success\&quot;: true,          \&quot;message\&quot;: \&quot;Session created.\&quot;      }
     * @param body Authentication and session information (optional)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void v1SessionPost(SessionRequestBody body) throws ApiException {
        v1SessionPostWithHttpInfo(body);
    }

    /**
     * Used to create a session reservation for user of the authenticated account. (Post data only)
     * Success response (Status 200)        {          \&quot;data\&quot;: {              \&quot;nineDigitKey\&quot;: \&quot;0123456789\&quot;,              \&quot;secureToken\&quot;: \&quot;...\&quot;              \&quot;plannedStartUTC\&quot;: \&quot;2020/12/31 11:12:13\&quot;              \&quot;plannedStartTimeForLocalZone\&quot;: \&quot;2020.12.31 11:12:13(UTC+01:00)\&quot;,              \&quot;timeZoneOffset\&quot;: \&quot;60\&quot;,              \&quot;username\&quot;: \&quot;username\&quot;,              \&quot;freeField1\&quot;: \&quot;\&quot;,              \&quot;freeField2\&quot;: \&quot;\&quot;,              \&quot;freeField3\&quot;: \&quot;\&quot;,              \&quot;password\&quot;: \&quot;\&quot;,              \&quot;topic\&quot;: \&quot;\&quot;,              \&quot;duration\&quot;: 0,              \&quot;status\&quot;: \&quot;SESSION_RESERVED\&quot;          },          \&quot;requestUri\&quot;: \&quot;/v1/session\&quot;,          \&quot;success\&quot;: true,          \&quot;message\&quot;: \&quot;Session created.\&quot;      }
     * @param body Authentication and session information (optional)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<SessionResponse> v1SessionPostWithHttpInfo(SessionRequestBody body) throws ApiException {
        com.squareup.okhttp.Call call = v1SessionPostValidateBeforeCall(body, null, null);
        return apiClient.execute(call, SessionResponse.class);
    }

    /**
     * Used to create a session reservation for user of the authenticated account. (Post data only) (asynchronously)
     * Success response (Status 200)        {          \&quot;data\&quot;: {              \&quot;nineDigitKey\&quot;: \&quot;0123456789\&quot;,              \&quot;secureToken\&quot;: \&quot;...\&quot;              \&quot;plannedStartUTC\&quot;: \&quot;2020/12/31 11:12:13\&quot;              \&quot;plannedStartTimeForLocalZone\&quot;: \&quot;2020.12.31 11:12:13(UTC+01:00)\&quot;,              \&quot;timeZoneOffset\&quot;: \&quot;60\&quot;,              \&quot;username\&quot;: \&quot;username\&quot;,              \&quot;freeField1\&quot;: \&quot;\&quot;,              \&quot;freeField2\&quot;: \&quot;\&quot;,              \&quot;freeField3\&quot;: \&quot;\&quot;,              \&quot;password\&quot;: \&quot;\&quot;,              \&quot;topic\&quot;: \&quot;\&quot;,              \&quot;duration\&quot;: 0,              \&quot;status\&quot;: \&quot;SESSION_RESERVED\&quot;          },          \&quot;requestUri\&quot;: \&quot;/v1/session\&quot;,          \&quot;success\&quot;: true,          \&quot;message\&quot;: \&quot;Session created.\&quot;      }
     * @param body Authentication and session information (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call v1SessionPostAsync(SessionRequestBody body, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = v1SessionPostValidateBeforeCall(body, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /**
     * Build call for v1SessionsGet
     * @param accountIdentifier Can be used together with AccountPassword to authenticate an account (optional)
     * @param accountPassword Can be used together with AccountIdentifier to authenticate an account (optional)
     * @param accessToken Account-specific access token  (primary way to authenticate an account for API calls)  If AccountIdentifier, AccountPassword and AccessToken are given, only AccessToken is used. (optional)
     * @param todaySessions get sessions scheduled for today (optional)
     * @param futureSessions get sessions scheduled for the futere from now on. (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call v1SessionsGetCall(String accountIdentifier, String accountPassword, String accessToken, Boolean todaySessions, Boolean futureSessions, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/v1/sessions";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (accountIdentifier != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("AccountIdentifier", accountIdentifier));
        if (accountPassword != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("AccountPassword", accountPassword));
        if (accessToken != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("AccessToken", accessToken));
        if (todaySessions != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("todaySessions", todaySessions));
        if (futureSessions != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("futureSessions", futureSessions));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {

        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {

        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call v1SessionsGetValidateBeforeCall(String accountIdentifier, String accountPassword, String accessToken, Boolean todaySessions, Boolean futureSessions, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {


        com.squareup.okhttp.Call call = v1SessionsGetCall(accountIdentifier, accountPassword, accessToken, todaySessions, futureSessions, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Used to retrieve future sessions belonging to the authenticated account.
     * Success response (Status 200)        {        \&quot;requestBody\&quot;: \&quot;\&quot;,        \&quot;request\&quot;: {          \&quot;AccessToken\&quot;: \&quot;...\&quot;          \&quot;todaySessions\&quot;: \&quot;true\&quot;          \&quot;futureSessions\&quot;: \&quot;true\&quot;        },        \&quot;dataDict\&quot;: {},        \&quot;accessToken\&quot;: null,        \&quot;data\&quot;: [          {            \&quot;nineDigitKey\&quot;: \&quot;532538155\&quot;,            \&quot;plannedStartUTC\&quot;: \&quot;2048.04.24 21:49:00\&quot;,            \&quot;username\&quot;: \&quot;..\&quot;          },          ..          {            \&quot;nineDigitKey\&quot;: \&quot;577957522\&quot;,            \&quot;plannedStartUTC\&quot;: \&quot;2055.04.24 21:49:00\&quot;,            \&quot;username\&quot;: \&quot;..\&quot;          }        ],        \&quot;requestUri\&quot;: \&quot;/v1/sessions\&quot;,        \&quot;success\&quot;: true,        \&quot;message\&quot;: \&quot;Sessions retrieved.\&quot;      }
     * @param accountIdentifier Can be used together with AccountPassword to authenticate an account (optional)
     * @param accountPassword Can be used together with AccountIdentifier to authenticate an account (optional)
     * @param accessToken Account-specific access token  (primary way to authenticate an account for API calls)  If AccountIdentifier, AccountPassword and AccessToken are given, only AccessToken is used. (optional)
     * @param todaySessions get sessions scheduled for today (optional)
     * @param futureSessions get sessions scheduled for the futere from now on. (optional)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void v1SessionsGet(String accountIdentifier, String accountPassword, String accessToken, Boolean todaySessions, Boolean futureSessions) throws ApiException {
        v1SessionsGetWithHttpInfo(accountIdentifier, accountPassword, accessToken, todaySessions, futureSessions);
    }

    /**
     * Used to retrieve future sessions belonging to the authenticated account.
     * Success response (Status 200)        {        \&quot;requestBody\&quot;: \&quot;\&quot;,        \&quot;request\&quot;: {          \&quot;AccessToken\&quot;: \&quot;...\&quot;          \&quot;todaySessions\&quot;: \&quot;true\&quot;          \&quot;futureSessions\&quot;: \&quot;true\&quot;        },        \&quot;dataDict\&quot;: {},        \&quot;accessToken\&quot;: null,        \&quot;data\&quot;: [          {            \&quot;nineDigitKey\&quot;: \&quot;532538155\&quot;,            \&quot;plannedStartUTC\&quot;: \&quot;2048.04.24 21:49:00\&quot;,            \&quot;username\&quot;: \&quot;..\&quot;          },          ..          {            \&quot;nineDigitKey\&quot;: \&quot;577957522\&quot;,            \&quot;plannedStartUTC\&quot;: \&quot;2055.04.24 21:49:00\&quot;,            \&quot;username\&quot;: \&quot;..\&quot;          }        ],        \&quot;requestUri\&quot;: \&quot;/v1/sessions\&quot;,        \&quot;success\&quot;: true,        \&quot;message\&quot;: \&quot;Sessions retrieved.\&quot;      }
     * @param accountIdentifier Can be used together with AccountPassword to authenticate an account (optional)
     * @param accountPassword Can be used together with AccountIdentifier to authenticate an account (optional)
     * @param accessToken Account-specific access token  (primary way to authenticate an account for API calls)  If AccountIdentifier, AccountPassword and AccessToken are given, only AccessToken is used. (optional)
     * @param todaySessions get sessions scheduled for today (optional)
     * @param futureSessions get sessions scheduled for the futere from now on. (optional)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> v1SessionsGetWithHttpInfo(String accountIdentifier, String accountPassword, String accessToken, Boolean todaySessions, Boolean futureSessions) throws ApiException {
        com.squareup.okhttp.Call call = v1SessionsGetValidateBeforeCall(accountIdentifier, accountPassword, accessToken, todaySessions, futureSessions, null, null);
        return apiClient.execute(call);
    }

    /**
     * Used to retrieve future sessions belonging to the authenticated account. (asynchronously)
     * Success response (Status 200)        {        \&quot;requestBody\&quot;: \&quot;\&quot;,        \&quot;request\&quot;: {          \&quot;AccessToken\&quot;: \&quot;...\&quot;          \&quot;todaySessions\&quot;: \&quot;true\&quot;          \&quot;futureSessions\&quot;: \&quot;true\&quot;        },        \&quot;dataDict\&quot;: {},        \&quot;accessToken\&quot;: null,        \&quot;data\&quot;: [          {            \&quot;nineDigitKey\&quot;: \&quot;532538155\&quot;,            \&quot;plannedStartUTC\&quot;: \&quot;2048.04.24 21:49:00\&quot;,            \&quot;username\&quot;: \&quot;..\&quot;          },          ..          {            \&quot;nineDigitKey\&quot;: \&quot;577957522\&quot;,            \&quot;plannedStartUTC\&quot;: \&quot;2055.04.24 21:49:00\&quot;,            \&quot;username\&quot;: \&quot;..\&quot;          }        ],        \&quot;requestUri\&quot;: \&quot;/v1/sessions\&quot;,        \&quot;success\&quot;: true,        \&quot;message\&quot;: \&quot;Sessions retrieved.\&quot;      }
     * @param accountIdentifier Can be used together with AccountPassword to authenticate an account (optional)
     * @param accountPassword Can be used together with AccountIdentifier to authenticate an account (optional)
     * @param accessToken Account-specific access token  (primary way to authenticate an account for API calls)  If AccountIdentifier, AccountPassword and AccessToken are given, only AccessToken is used. (optional)
     * @param todaySessions get sessions scheduled for today (optional)
     * @param futureSessions get sessions scheduled for the futere from now on. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call v1SessionsGetAsync(String accountIdentifier, String accountPassword, String accessToken, Boolean todaySessions, Boolean futureSessions, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = v1SessionsGetValidateBeforeCall(accountIdentifier, accountPassword, accessToken, todaySessions, futureSessions, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /**
     * Build call for v1TokenByTokenGet
     * @param token  (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call v1TokenByTokenGetCall(String token, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/v1/token/{token}"
            .replaceAll("\\{" + "token" + "\\}", apiClient.escapeString(token.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {

        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {

        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call v1TokenByTokenGetValidateBeforeCall(String token, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {

        // verify the required parameter 'token' is set
        if (token == null) {
            throw new ApiException("Missing the required parameter 'token' when calling v1TokenByTokenGet(Async)");
        }


        com.squareup.okhttp.Call call = v1TokenByTokenGetCall(token, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Method to check the validity of an Access Token
     * It is not mandatory to check if an existing API access token is still valid using this call.    If an access token is no longer valid, all API calls will return an HTTP 401 Unauthorized error to indicate that authentication has failed.                Success response (Status 200)    {    \&quot;requestBody\&quot;: \&quot;\&quot;,    \&quot;request\&quot;: {},    \&quot;dataDict\&quot;: {},    \&quot;accessToken\&quot;: null,    \&quot;data\&quot;: null,    \&quot;requestUri\&quot;: \&quot;/v1/token/string\&quot;,    \&quot;success\&quot;: true,    \&quot;message\&quot;: \&quot;\&quot;  }
     * @param token  (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void v1TokenByTokenGet(String token) throws ApiException {
        v1TokenByTokenGetWithHttpInfo(token);
    }

    /**
     * Method to check the validity of an Access Token
     * It is not mandatory to check if an existing API access token is still valid using this call.    If an access token is no longer valid, all API calls will return an HTTP 401 Unauthorized error to indicate that authentication has failed.                Success response (Status 200)    {    \&quot;requestBody\&quot;: \&quot;\&quot;,    \&quot;request\&quot;: {},    \&quot;dataDict\&quot;: {},    \&quot;accessToken\&quot;: null,    \&quot;data\&quot;: null,    \&quot;requestUri\&quot;: \&quot;/v1/token/string\&quot;,    \&quot;success\&quot;: true,    \&quot;message\&quot;: \&quot;\&quot;  }
     * @param token  (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> v1TokenByTokenGetWithHttpInfo(String token) throws ApiException {
        com.squareup.okhttp.Call call = v1TokenByTokenGetValidateBeforeCall(token, null, null);
        return apiClient.execute(call);
    }

    /**
     * Method to check the validity of an Access Token (asynchronously)
     * It is not mandatory to check if an existing API access token is still valid using this call.    If an access token is no longer valid, all API calls will return an HTTP 401 Unauthorized error to indicate that authentication has failed.                Success response (Status 200)    {    \&quot;requestBody\&quot;: \&quot;\&quot;,    \&quot;request\&quot;: {},    \&quot;dataDict\&quot;: {},    \&quot;accessToken\&quot;: null,    \&quot;data\&quot;: null,    \&quot;requestUri\&quot;: \&quot;/v1/token/string\&quot;,    \&quot;success\&quot;: true,    \&quot;message\&quot;: \&quot;\&quot;  }
     * @param token  (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call v1TokenByTokenGetAsync(String token, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = v1TokenByTokenGetValidateBeforeCall(token, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /**
     * Build call for v1TokenGet
     * @param accountIdentifier Can be used together with AccountPassword to authenticate an account (optional)
     * @param accountPassword Can be used together with AccountIdentifier to authenticate an account (optional)
     * @param accessToken Account-specific access token  (primary way to authenticate an account for API calls)  If AccountIdentifier, AccountPassword and AccessToken are given, only AccessToken is used. (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call v1TokenGetCall(String accountIdentifier, String accountPassword, String accessToken, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/v1/token";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (accountIdentifier != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("AccountIdentifier", accountIdentifier));
        if (accountPassword != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("AccountPassword", accountPassword));
        if (accessToken != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("AccessToken", accessToken));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "text/plain", "application/json", "text/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {

        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call v1TokenGetValidateBeforeCall(String accountIdentifier, String accountPassword, String accessToken, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {


        com.squareup.okhttp.Call call = v1TokenGetCall(accountIdentifier, accountPassword, accessToken, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Method to request an Access Token
     * Generally, account identifier and account password are used to generate an API token authorizing the API consumer to act as the account without providing the credentials again and again.                The generated access token is valid for 24 hours.  If an access token is no longer valid, all API calls will return an HTTP 401 Unauthorized error to indicate that authentication has failed.
     * @param accountIdentifier Can be used together with AccountPassword to authenticate an account (optional)
     * @param accountPassword Can be used together with AccountIdentifier to authenticate an account (optional)
     * @param accessToken Account-specific access token  (primary way to authenticate an account for API calls)  If AccountIdentifier, AccountPassword and AccessToken are given, only AccessToken is used. (optional)
     * @return TokenSuccess
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public TokenSuccess v1TokenGet(String accountIdentifier, String accountPassword, String accessToken) throws ApiException {
        ApiResponse<TokenSuccess> resp = v1TokenGetWithHttpInfo(accountIdentifier, accountPassword, accessToken);
        return resp.getData();
    }

    /**
     * Method to request an Access Token
     * Generally, account identifier and account password are used to generate an API token authorizing the API consumer to act as the account without providing the credentials again and again.                The generated access token is valid for 24 hours.  If an access token is no longer valid, all API calls will return an HTTP 401 Unauthorized error to indicate that authentication has failed.
     * @param accountIdentifier Can be used together with AccountPassword to authenticate an account (optional)
     * @param accountPassword Can be used together with AccountIdentifier to authenticate an account (optional)
     * @param accessToken Account-specific access token  (primary way to authenticate an account for API calls)  If AccountIdentifier, AccountPassword and AccessToken are given, only AccessToken is used. (optional)
     * @return ApiResponse&lt;TokenSuccess&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<TokenSuccess> v1TokenGetWithHttpInfo(String accountIdentifier, String accountPassword, String accessToken) throws ApiException {
        com.squareup.okhttp.Call call = v1TokenGetValidateBeforeCall(accountIdentifier, accountPassword, accessToken, null, null);
        Type localVarReturnType = new TypeToken<TokenSuccess>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Method to request an Access Token (asynchronously)
     * Generally, account identifier and account password are used to generate an API token authorizing the API consumer to act as the account without providing the credentials again and again.                The generated access token is valid for 24 hours.  If an access token is no longer valid, all API calls will return an HTTP 401 Unauthorized error to indicate that authentication has failed.
     * @param accountIdentifier Can be used together with AccountPassword to authenticate an account (optional)
     * @param accountPassword Can be used together with AccountIdentifier to authenticate an account (optional)
     * @param accessToken Account-specific access token  (primary way to authenticate an account for API calls)  If AccountIdentifier, AccountPassword and AccessToken are given, only AccessToken is used. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call v1TokenGetAsync(String accountIdentifier, String accountPassword, String accessToken, final ApiCallback<TokenSuccess> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = v1TokenGetValidateBeforeCall(accountIdentifier, accountPassword, accessToken, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<TokenSuccess>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for v1UserByUsernameDelete
[...]
